<div class="container">
  <div class="text-center">
    <h1>About Me</h1>
  </div>
  <br>
  <div class="col-md-4 text-right">
    <%= image_tag "original/Nico Basile Profile Picture copy adjusted.png", class: 'about-image' %>
  </div>
  <div class="col-md-8">
    <h1>Nicolas Basile</h1>
    <p>I am currently a junior at USC studying 
      Computer Science and Business Administration.</p>
    <p>I am interested in all types of software development and entrepreneurship.</p>  
      
    <p>I can be found on: <a href="https://www.linkedin.com/in/nicobasile/" target="_blank">LinkedIn</a> and <a href="https://www.github.com/nicobasile" target="_blank">GitHub</a></p><br>
    
    <p>As of now, this website is a showcase for my web development 
      projects.</p>
    <p>This website was built using Ruby on Rails, and over time I will be adding 
      all the technologies I have implemented and learned.</p>
  </div>
</div>