<div class="h-100 text-center container-fluid">
  <div class="row h-100 align-self-center">
    <br><br><br><br><br><br>
      <h1>Welcome to my website</h1>
      <h3>This site is where I will showcase my latest projects,</h3>
      <h3>and offer additional information about their development</h3>
  </div>
</div>