<div class="container-fluid">
  <div class="row text-center col-md-8 col-md-offset-2">
    <div class="">
      <h1>My Projects</h1>
      <h3>More projects in development and coming soon!</h3><br>
    </div>
  </div>
  <div class="row col-md-offset-2">
    <div class="col-md-3 well">
      <div class="card text-center">
        <div class="card-body">
          <h2 class="card-title">Kitchen Sync</h2>
          <%= image_tag "original/KitchenSyncIcon.png", class: 'card-img-top project-images' %>
          <p class="card-text">Sync a grocery item list between as many people as you want. This list can be added and removed from in real time so you'll never forget something from the grocery store.</p>
          <a href="/projects/KitchenSync" class="btn btn-primary">View Project</a>
        </div>
      </div>
    </div>
    <div class="col-md-3 well">
      <div class="card text-center">
        <div class="card-body">
          <h2 class="card-title">Game</h2>
          <%= image_tag "original/game.jpg", class: 'card-img-top project-images' %>
          <p class="card-text">My next project will be an IOS app with monetization. It will most likely be a game, and I would like to make it 3D and multiplayer. I'll need to research more beforehand.</p>
          <a href="#" class="btn btn-primary">View Project</a>
        </div>
      </div>
    </div>
    <div class="col-md-3 well">
      <div class="card text-center">
        <div class="card-body">
          <h2 class="card-title">Community</h2>
          <%= image_tag "original/missing.png", class: 'card-img-top project-images', style: 'border-radius: 100px;' %>
          <p class="card-text">Create an account, personalize your profile, and view other members of the community. Utilizes SQL databases, ecommerce with Stripe, and general web development.</p>
          <a href="/community" class="btn btn-primary">View Project</a>
        </div>
      </div>
    </div>
  </div>
</div>