<div class="container-fluid">
  <div class="row text-center col-md-8 col-md-offset-2">
    <div class="">
      <h1>My Projects</h1>
      <h3>More projects in development and coming soon!</h3><br>
    </div>
  </div>
  <div class="row col-md-offset-2">
    <div class="col-md-3 well">
      <div class="card text-center">
        <div class="card-body">
          <h2 class="card-title">Kitchen Sync</h2>
          <%= image_tag "original/KitchenSyncIcon.png", class: 'card-img-top project-images' %>
          <p class="card-text">Kitchen Sync allows family and friend groups to automatically sync their grocery lists!</p>
          <a href="/projects/KitchenSync" class="btn btn-primary">View Project</a>
        </div>
      </div>
    </div>
    <div class="col-md-3 well">
      <div class="card text-center">
        <div class="card-body">
          <h2 class="card-title">Zealot Strike</h2>
          <%= image_tag "original/ZealotStrikeIcon.png", class: 'card-img-top project-images' %>
          <p class="card-text">Zealot Strike is an online multiplayer IOS game. Checkout this page for more information!</p>
          <a href="/projects/ZealotStrike" class="btn btn-primary">View Project</a>
        </div>
      </div>
    </div>
    <div class="col-md-3 well">
      <div class="card text-center">
        <div class="card-body">
          <h2 class="card-title">Community</h2>
          <%= image_tag "original/missing.png", class: 'card-img-top project-images', style: 'border-radius: 100px;' %>
          <p class="card-text">Create, personalize, and view profiles. Utilizes SQL databases and ecommerce with Stripe.</p>
          <a href="/community" class="btn btn-primary">View Project</a>
        </div>
      </div>
    </div>
  </div>
</div>