<div class="container">
  <h1 class="text-center">My Projects</h1>

  <div class="row">
    <div class="col-md-5">
      <h2>IOS Development</h2>
      <h3>Text explaining IOS development etc, it should be long enough to wrap once or twice</h3>
    </div>
    <div class="col-md-3 well">
      <div class="card text-center">
        <%= image_tag "original/KitchenSyncIcon.png", class: 'card-img-top project-images' %>
        <div class="card-body">
          <h3 class="card-title">Kitchen Sync</h3>
          <p class="card-text">Sync a grocery item list between as many people as you want. This list can be added and removed from in real time so you'll never forget something from the grocery store.</p>
          <a href="#" class="btn btn-primary">More Info</a>
        </div>
      </div>
    </div>
    <div class="col-md-3 well">
      <div class="card text-center">
        <%= image_tag "original/missing.png", class: 'card-img-top project-images' %>
        <div class="card-body">
          <h3 class="card-title">Game</h3>
          <p class="card-text">My next project is an IOS app with monetization. It will most likely be a game, I would like to make it 3d and multiplayer, but I need to research more beforehand.</p>
          <a href="#" class="btn btn-primary">More Info</a>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <h2>Web Development</h2>
      <h3>Text explaining web development etc, it should be long enough to wrap once or twice</h3>
    </div>
    <div class="col-md-3 well">
      <div class="card text-center">
        <%= image_tag "original/missing.png", class: 'card-img-top project-images' %>
        <div class="card-body">
          <h3 class="card-title">Community</h3>
          <p class="card-text">This thingy does blank blank blank</p>
          <a href="#" class="btn btn-primary">More Info</a>
        </div>
      </div>
    </div>
    <div class="col-md-3 well">
      <div class="card text-center">
        <%= image_tag "original/missing.png", class: 'card-img-top project-images' %>
        <div class="card-body">
          <h3 class="card-title">More Projects</h3>
          <p class="card-text">I am currently developing more projects to be showcased soon!</p>
          <a href="#" class="btn btn-primary">More Info</a>
        </div>
      </div>
    </div>
  </div>
</div>