<div class="container text-center">
    <h1>Sample Software Subscription/Membership</h1>
    <h4>This is a tech demo - it has full functionality but doesn't grant access to any software</h4>
</div>
<div class="container home-signup-links">
  <div class="row">
    <div class="col-md-6">
      <div class="well">
        <h2 class="text-center">Basic Subscription</h2>
        <h4>Sign up for free and get basic access to the software.</h4>
        <%= link_to "Sign up with Basic", "#", class: 'btn btn-primary btn-lg btn-block' %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="well">
        <h2 class="text-center">Pro Subscription</h2>
        <h4>Sign up for the pro account for $5/month and get full access to the software.</h4>
        <%= link_to "Sign up with Pro", "#", class: 'btn btn-success btn-lg btn-block' %>
      </div>
    </div>
  </div>
</div>