/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';

// Everywhere
html, body
{
    height: 100%;
    background-color: #fff; 
    background-size: cover;
    background-attachment: fixed;
    //display: -ms-flexbox;
    //display: -webkit-box;
    //display: flex;
    //-ms-flex-pack: center;
    //-webkit-box-pack: center;
    //justify-content: center;
    //color: #fff;
    //text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
    
}

h1, h2, h3, h4, h5, p
{
    font-family: 'Montserrat', sans-serif;
}

h1 { margin-top: 10px; } // For page titles

.card-body .btn
{
    color: white;
    background-color: #02a802;
    border-color: #02a802;
    font-family: 'Montserrat', sans-serif;
    &:hover, &:focus { background-color: green; }
}

// Navbar
.navbar 
{
    border: none;
    height: 100px;
    align-items: center;
    display: flex;
}

.navbar
{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0px;
    .navbar-brand {
        color: black;
        font-size: 28px;
        font-weight: 500;
        &:hover, &:focus {
            color: inherit;
            border-bottom: 0;
            opacity: 75%;
        }
    }
    a {
        color: black;
        font-size: 20px;
        border-bottom: .25rem solid transparent;
        &:hover, &:focus {
            color: #02a802;
            border-bottom-color: #02a802;
            opacity: 75%;
        }
    }
}

.nav li a:hover { background-color: transparent; }

.active a
{
    color: #02a802;
    border-bottom-color: #02a802;
}

.fa-superpowers { color: #02a802; }

.navbar-nav .btn
{
    margin-top: 4px;
    color: #02a802;
    background-color: transparent;
    border-color: #02a802;
    border: 1px solid;
    &:hover, &:focus { background-color: #e6f2e6; }
}

.btn-log { margin-left: 5px; margin-right: 5px; }

// Home Page
.home-callout
{
    padding-top: 50px;
    padding-bottom: 100px;
    margin-top: -20px;
}

// Contact Page
.form-control { margin-bottom: 10px; }

#contact_comments { height: 15rem; }

.well h2 // For Sign-Up and Log-In
{
    margin-top: 0px;
    margin-bottom: 20px;
}

// Community Page
.well h5
{
    margin-top: 0px;
    margin-bottom: 0px;
}

.alert-notice // Devise 'signed out succesfully' etc
{
    display: none;
}

.avatar-show-img
{
    width: 256px;
    height: 256px;
    border-radius: 25px;
}

// Contact Me Page
.container h3 
{
    margin-top: 10px;
    margin-bottom: 20px;
}

// Subcription Page
.subscription-links 
{
    margin-top: 30px;
}

.flash-container // Flash Messages
{
    position: absolute;
    width: 100%;
}

.alert-notice, .alert-alert // Alert Messages ex. "You are already signed in"
{ 
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.7);
    margin-top: -14px;
}

// Project Page
.project-images
{
    width: 128px;
    height: 128px;
    border-radius: 25px;
    margin-bottom: 15px;
}

// Project Page
.showcase-images
{
    width: 315px;
    height: 157.5px;
    border-radius: 5px;
    margin-bottom: 5px;
    border: 1px solid black;
}

.v-showcase-images
{
    height: 315px;
    width: 157.5px;
    border-radius: 5px;
    margin-bottom: 5px;
    border: 1px solid black;
}

.row > .well
{
    margin: 10px;
}

// About Page
.about-image
{
    width: 240px;
    height: 300px;
    border-radius: 5px;
}

#footer {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
}
